{% extends 'base.html.twig' %}

{% block stylesheets %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
<div class="container">
                <img src="{{ asset('img/logo.png') }}"/>
                <h1>AccommodationResults.com</h1>
                <h2>Welcome to Accommodation Results</h2>
                <p>Where Travel Agents have access to book on behalf of<br>their clients the finest quality luxury holiday houses,<br>
                   apartments, and villas worldwide.
                </p>


                <div></div><a href="login" class="btn btn-primary">Login</a></div>
                <div><br></div>
                <div><a href="register" class="btn btn-primary">Register</a></div>

                <p class="help">Need Help?</p>
                <p>Please contact us on <span>info@accommodationresults.com</span></p>
</div>
</body>
</html>

{% endblock %}
