img{
    position: absolute;
    top: 10%;
    left: 42%
}
h1{
    text-align: center;
    font-size: 35px;
    margin-top: 6.5em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    line-height: 1.1em;
    color: #4095b5;
    font-family: "Open Sans",arial,sans-serif ;
    font-weight: normal;
}
h2{
    text-align: center;
    font-size: 20px;
    margin-top: 2.5em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    line-height: 1.1em;
    color: #4095b5;
    font-family: "Open Sans",arial,sans-serif ;
    font-weight: normal;

}
p{
    text-align: center;
    margin-top: 1.5em;
    font-family: "Open Sans",arial,sans-serif ;
    font-weight: normal;
    font-size: 13px;
    color: #414141;


}
.btn-primary {
    border-radius: 4px;
    padding-top: 15px;
    padding-right: 52px;
    padding-bottom: 15px;
    padding-left: 52px;
    background-color: rgba(95,164,193,0.92);
    color:#ffffff;
    border: none;
    top: 25px;
    float: left;
    position: relative;
    left: 44%;
    cursor: pointer;
    text-transform: uppercase;
    line-height: .5em;
    font-size: 16px;



}

.help{
    text-align: center;
    font-size: 20px;
    margin-top: 6.5em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    line-height: 1.1em;
    color: #4095b5;
    font-family: "Open Sans",arial,sans-serif ;
    font-weight: normal;
    cursor: pointer;


}
span{
    color: #4095b5;
    cursor: pointer;
}